.flex  {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.flex > div  {
  flex: none;
 /* width: calc(33.333% - 25px); */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.flex .header-block  {
  margin-bottom: 20px;
  text-align: center;
}

.flex p  {
  font-size: 1.2857142857rem;
  line-height: 1.56;
  letter-spacing: -0.2px;
  color: #6b5a7e;
  display: block;
  text-align: left;
}

.flex .icon  {
  display: block;
  vertical-align: middle;
  margin: 0 auto 20px;
  width: 70px;
  height: 70px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.flex .title  {
  font-size: 1.7142857143rem;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #1e0936;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.mission .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.mission {
  z-index: 10;
  position: relative;
}

.mission .right  {
  padding: 120px 70px 100px;
  flex: none;
  width: 50%;
  padding-top: 120px;
  padding-right: 70px;
  padding-bottom: 100px;
  padding-left: 70px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.mission .right .is-h2 {
  font-size: 2.5714285714rem;
  font-weight: 600;
  color: #1e0936;
  display: block;
  margin-bottom: 30px;
}

.mission .left  {
  flex: none;
  width: 50%;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.right h2 , .mission .right .is-h2 {
  font-size: 2.5714285714rem;
  font-weight: 600;
  color: #1e0936;
  display: block;
  margin-bottom: 30px;
}

.right p  {
  font-size: 1.2857142857rem;
  line-height: 1.56;
  color: #6b5a7e;
}

.right p + p  {
  margin-top: 20px;
}

.left .picture img  {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}


.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-right: 0%;
  padding-left: 0%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero.inner {
  padding-right: 6%;
}

.hero.inner.product {
  height: 100vh;
  padding-top: 180px;
  padding-bottom: 200px;
}

.container-div {
  display: block;
  width: 100%;
  margin-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container-div.top {
  position:relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

.full_height{
  height: 100vh;
  margin-top:15vh;
}

.container-div.top-container {
  margin-bottom: 40px;
}

.container-div.top-container.product {
  margin-bottom: 0px;
}

.slider-section {
  padding: 90px 12% 125px;
  background-color: #fbfbfb;
}

.title, .subtitle {
text-align: center;
color:white
}

.subtitle{
  color:#283244;
  font-size: 1.5em;
}

.title-content-div {
  margin-bottom: 30px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.h2 {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  color: #283244;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.h2.hero-title {
  display: inline-block;
  max-width: 760px;
  min-width: 760px;
  margin-bottom: 20px;
  color: #283244;
  font-size: 4.2em;
  line-height: 1.2em;
  font-weight: 600;
  text-align: left;
  /*text-transform: uppercase;*/
  white-space: normal;
}

.h2.hero-title.mobile {
  display: none;
}

.h2.hero-title.inner {
  white-space: normal;
}

.h2.left {
  font-size: 28px;
  line-height: 32px;
  text-align: left;
}

.subhead {
  margin-top: 15px;
  color: #3b4659;
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
}
.subhead.hero-subhead {
  max-width: 450px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-right: 0px;
  color: #3b4659;
  font-size: 19px;
  line-height: 25px;
  font-weight: 300;
  text-align: left;
}
.subhead-key-features {
  max-width: 550px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-right: 0px;
  color: #ffffff;
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 400;
  text-align: left;
}

.subhead.hero-subhead.wider {
  max-width: 520px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 11.5% 90px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.body {
  font-family: 'Gotham Pro', sans-serif;
}

.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 72px;
  height: 72px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid #e9e9e9;
  border-radius: 200px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #4c4c4c;
  font-size: 36px;
}

.arrow:hover {
  border-color: #ddd;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.link {
  color: #00b0ff;
  cursor: pointer;
  text-decoration: none;
}
.link:hover{
  color: #4c4c4c;
}
.line {
  width: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #e9edf3;
}

.feature-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.27%;
  margin-right: 0px;
  padding: 45px 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
  color: #3b4659;
}

.feature-box:hover {
  background-color: #f58426;
  box-shadow: 0 20px 20px -17px #d3d3d3;
  color: #fff;
}

.feature-box.new:hover {
  background-color: #f58426;
  box-shadow: 0 0 20px 2px hsla(0, 0%, 82.7%, 0.2);
  color: #3b4659;
}

.shadow {
  box-shadow: 0 0 20px 2px hsla(0, 0%, 82.7%, 0.2);
}

.partner-includes {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
.advantages{
  display: inline-block;
  width: 250px;
  vertical-align: top;
  color:white;
  margin: 0px 3vw;
}


.key-features, .key-values {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  padding: 15px 10px;
  margin-left:10px;
  margin-right:10px;
}

.key-values {
  height: 300px
}
.features-container {
  text-align: center;
}

.features-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-button {
  margin-right: 15px;
  padding: 8px 22px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff8c00;
  border-radius: 20px;
  background-color: #fff;
  color: #f58426;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #f58523;
  color: #fff;
}

.nav-button.hero-button {
  height: auto;
  margin-top: 15px;
  margin-right: 0px;
  padding: 17px 70px;
  border-style: none;
  border-radius: 200px;
  background-color: #f58524;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-button.hero-button:hover {
  background-color: #df7a00;
}

.feature-image {
  display: block;
  max-width: 250px;
  margin-bottom: 20px;
  padding: 0px 50px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -15px;
}

.key-feature-image, .partner-image, .values-image {
  cursor:pointer;
  display: flex;
  float:left;
  height: 80px;
  width: 80px;
  padding:15px;
  margin-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.partner-image, .values-image {
  cursor:default;
  margin-right: 0px;
}

.main-feature-text {
  margin-bottom: 10px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
  white-space: normal;
}
.main-key-feature-text {
  display:flex;
  margin-bottom: 10px;
  height: 100px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
  white-space: normal;
  text-align: left;
  color: #4c4c4c
}

.buttondiv, .buttondiv-key-features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.buttondiv-key-features{
  display: inline-block;
  width: 100%;
}

.button-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
}

.learn-morelink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 0px;
  padding: 7px 20px 7px 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #f58523;
  border-radius: 200px;
  background-color: #fff;
  color: #f58523;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  background-image: url(../images/arrow-orange_1arrow-orange.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: 50%;
  background-position-x: 15%;
}

.learn-morelink:hover {
  background-color: #f58524;
  color: #fff;
  border: 2px solid #fff;;
  background-image: url(../images/arrow-white_1arrow-white.png);
}

.splitdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
  text-transform: none;
}

.splitdiv.image {
  position: relative;
  top: 60px;
  display: block;
  overflow: hidden;
  width: 54%;
  margin-right: 0px;
  padding-right: 0px;
  float: right;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.splitdiv.image.inner {
  top: 0px;
}

.splitdiv.left {
  position: relative;
  left: 6%;
  z-index: 1;
  width: 46%;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.image {
  display: block;
  padding-top: 0px;
  float: right;
}

.image.inner {
  max-width: 95%;
}

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: -moz-linear-gradient(top,  rgba(255,143,51,1) 0%, rgba(251,125,20,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,143,51,1) 0%,rgba(251,125,20,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,143,51,1) 0%,rgba(251,125,20,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  text-align: center;
}

.footer.demo {
  padding-top: 20px;
  padding-right: 11%;
  padding-left: 11%;
}

.footer.backing {
  padding-top: 67px;
  background-image: url('../images/cta-backing.png');
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer.backing.curve-2 {
  padding-top: 115px;
  padding-bottom: 0px;
  background-image: url('../images/curved-shape.png');
}

.footerdiv-top {
  display: block;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 72px 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #3b4659;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.image-2 {
  padding-bottom: 2px;
  padding-left: 2px;
  background-color: transparent;
}

.image-3 {
  padding-bottom: 0px;
}

.line-1 {
  position: absolute;
  left: 0px;
  top: 10px;
  right: 0px;
  z-index: 2;
  display: block;
  width: 35px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #7a7a7a;
}

.line-1.simple {
  top: 18px;
}

.line-1.simple.color {
  background-color: #fff;
}

.line-3 {
  position: absolute;
  left: 0px;
  top: 30px;
  right: 0px;
  z-index: 2;
  display: block;
  width: 35px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #7a7a7a;
}

.line-3.simple {
  top: 38px;
}

.line-3.simple.color {
  background-color: #fff;
}

.line-2 {
  position: absolute;
  left: 0px;
  top: 20px;
  right: 0px;
  z-index: 1;
  display: block;
  width: 35px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
  background-color: #7a7a7a;
}

.line-2.simple {
  top: 28px;
}

.line-2.simple.color {
  background-color: #fff;
}

.hover-div, .hover-features {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.h2-inherit, .h3-inherit {
  margin-top: 9px;
  margin-bottom: 10px;
  font-size: 1.15em;
  line-height: 36px;
  font-weight: 500;
  text-align: left;
}

.h3-inherit {
  font-size: 1em;
  line-height: 22px;
  color: #3b4659;
  font-weight: 700;
}

.h3-advantages {
  color:white;
  font-size: 1.2em;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  margin-top: 9px;
  margin-bottom: 10px;
  padding-top:15px
}

.div-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.left-text.vert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.large-cta-text {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 40px;
}

.cta-subtext {
  font-size: 19px;
  line-height: 24px;
  font-weight: 300;
}

.cta-subtext.dark2 {
  color: #fff;
  font-size: 20px;
}

.book-demo {
  padding: 14px 45px;
  border: 2px solid #f58524;
  border-radius: 200px;
  background-color: #f58524;
}

.book-demo:hover {
  border-color: #df7a00;
  background-color: #df7a00;
  color: #fff;
}

.book-demo.white-outline {
  border-color: #fff;
}

.book-demo.white {
  margin-top: 33px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-width: 2px;
  border-color: #fff;
  background-color: #fff;
  color: #f58524;
}

.book-demo.white:hover {
  background-color: #f58524;
  border-color: #fff;
  color: #fff;
}

.footer-section {
  padding: 60px 15% 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #3b4659;
  font-size: .85rem;
  line-height: 1.5;
  font-weight: 500;
}
.caps {
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.text-orange {
  color: #f58524;
}
.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #3b4659;
  font-size: .85rem;
  font-weight: 400;
  text-decoration: none;
}

.footer-link:hover {
  color: #f58524;
  text-decoration: none;
}

.footer-link.smaller {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 38px;
  color: #818894;
  font-size: .80rem;
}

.footer-link.smaller:hover {
  color: #3b4659;
}

.copyright-text {
  color: #818894;
  text-align: left;
}

.legal-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  float: right;
  padding-bottom:60px
}

.social-links {
  display: inline-block;
  margin-bottom: 19px;
}

.social-link {
  margin-right: 20px;
  opacity: 0.9;
}

.social-link:hover {
  opacity: 1;
}

.nav-button-2 {
  margin-right: 0px;
  margin-left: 7px;
  padding: 8px 22px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  background-color: white;
  color: #f58426;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.nav-button-2:hover {
  background-color: #ff8c00;
  color: #fff;
}

.nav-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-toggle {
  font-size: 15px;
  font-weight: 500;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f68525;
}

.dropdown-list.w--open {
  z-index: 1;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(33, 89, 138, 0.02), 0 1px 20px 0 rgba(11, 14, 51, 0.13);
}

.nav-link {
  margin-right: 50px;
  padding: 0px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.nav-link:hover {
  color: #f68525;
  text-decoration: none;
}

.d-link {
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0px;
  font-size: 15px;
  font-weight: 400;
}

.d-link:hover {
  color: #f58524;
}

.d-link.w--current {
  color: #f68525;
  font-weight: 500;
}

.responsive-nav-holder {
  display: none;
}

.dropdown {
  margin-right: 14px;
}

.button-10 {
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-color: #4de79d;
}

.button-10.w--open {
  background-color: #48d591;
}

.nav {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 11%;
  padding-left: 11%;
  background-color: transparent;
}

.orange {
  background-color:#f58524;
}

.d-list-triangle {
  position: absolute;
  left: 14%;
  top: -2%;
  right: auto;
  bottom: auto;
  z-index: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 -1px 20px 0 rgba(11, 14, 51, 0.08);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dlist-backing {
  position: relative;
  padding: 5px 46px 5px 22px;
  border-radius: 8px;
  background-color: #fff;
}

.split-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-right: 0px;
  padding: 31px 40px 31px 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-right: 1px none rgba(10, 14, 53, 0.11);
  background-color: transparent;
}

.split-content.left {
  position: relative;
  z-index: 1;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding: 38px 35px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 20px 0 rgba(16, 17, 53, 0.06);
  text-align: center;
}

.testimonial-holder-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 2% 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.testimonial-text-2 {
  position: relative;
  z-index: 1;
  margin-right: 0px;
  margin-bottom: 22px;
  margin-left: 0px;
  font-size: 25px;
  line-height: 39px;
  font-weight: 400;
}

.testimonial-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #3b4659;
}

.right-arrow-2 {
  right: 0px;
  display: block;
}

.caps-orange {
  position: relative;
  z-index: 1;
  margin-right: auto;
  margin-bottom: 7px;
  margin-left: auto;
  color: #f58524;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.slide-nav-2 {
  bottom: -56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-slider-div {
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.left-arrow-2 {
  left: 0px;
  display: block;
}

.title-2 {
  position: relative;
  z-index: 1;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
  color: #3b4659;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.company-logo {
  position: relative;
  z-index: 1;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

.name-2 {
  position: relative;
  z-index: 1;
  margin: 0px auto 4px;
  color: #3b4659;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.scroll-nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  margin-bottom: 0px;
  padding: 7px 11%;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(20, 43, 78, 0.11);
}

.quote-left {
  position: absolute;
  left: -10%;
  top: -10%;
  right: auto;
  bottom: auto;
}

.full-backing {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-radius: 8px;
  background-color: #fff;
}

.quote-right {
  position: absolute;
  left: auto;
  right: -10%;
  bottom: -10%;
}

.arrow-icon {
  margin-right: 10px;
}


.demo-icon {
  margin-right: 50px;
}

.white-arrow {
  margin-right: 10px;
}

.white-arrow {
  display: none;
}

.feature-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 190px 14% 90px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.feature-section.product {
  padding-top: 100px;
  padding-right: 11%;
  padding-left: 11%;
  border-top: 1px solid rgba(17, 16, 14, 0.06);
  border-bottom: 1px solid rgba(17, 16, 14, 0.06);
  background-color: rgba(250, 249, 247, 0.49);
}

.feature-section.product.first {
  border-bottom-style: solid;
  background-color: rgba(207, 152, 48, 0.05);
}

.feature-section.product.white {
  border-top-style: none;
  border-bottom-style: none;
  background-color: #fff;
}

.feature-section.product.white.top {
  padding-top: 50px;
}

.feature-text {
  margin-top: 6px;
  padding-left: 58px;
  color: #1b1307;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.feature-text.white {
  color: hsla(0, 0%, 100%, 0.95);
}

.vertical-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 70px 0px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.vertical-tabs.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.vertical-tabs.nospace {
  margin-top: 10px;
}

.slider-image {
  width: 100%;
  border-style: none;
  border-width: 1px;
  border-color: rgba(83, 109, 182, 0.1);
  border-radius: 2px;
  background-color: #fff;
}

.slider-image.shadow {
  border-radius: 8px;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.19);
}

.tab-pane {
  padding: 0px 16px 60px 9%;
}

.tab-pane.left {
  padding-right: 9%;
  padding-left: 0%;
}

.tab-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
  padding-right: 1px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 18px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: transparent;
  opacity: 1;
}

.tab:hover {
  background-color: rgba(165, 139, 121, 0.04);
  opacity: 1;
}

.tab.w--current {
  border: 3px solid #ff8c00;
  border-radius: 4px;
  background-color: transparent;
  opacity: 1;
}

.tab.orange:hover {
  background-color: rgba(165, 139, 121, 0.08);
}

.tab.orange.w--current {
  background-color: #ff8c00;
  color: #fff;
}

.tab-content {
  width: 68%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.slide-right-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #1a212e;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.slide-title.white {
  color: #fff;
}
.white{
  color: #fff;
}

.icon-img {
  margin-right: 25px;
}

.tab-content-holder.shadow-version {
  padding: 27px;
}

.div-line {
  height: 1px;
  background-color: rgba(17, 16, 14, 0.08);
}

.div-line-holder {
  padding-right: 11%;
  padding-left: 11%;
  background-color: rgba(250, 249, 247, 0.49);
}

.full-width-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.under-text {
  width: 100%;
}

.tab-div-white {
  display: none;
  padding-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-box {
  display: block;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 67px 40px 54px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.centred-div {
  text-align: center;
}


.hero.inner.product {
background-color: #f58524;
background: -moz-linear-gradient(top,  rgba(255,143,51,1) 0%, rgba(251,125,20,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,143,51,1) 0%,rgba(251,125,20,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,143,51,1) 0%,rgba(251,125,20,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

.hero.inner.product.blue {
  background: linear-gradient(180deg, rgba(25,122,169,1) 0%, rgba(54,75,101,1) 100%);
}
.hero.inner.product.green{
  background: linear-gradient(180deg, rgba(86,165,93,1) 0%, rgba(46,89,57,1) 100%);
}

.customers-three-blocks {
  margin-top: -40px;
}
.wrapper {
  width: 100%;
  max-width: 1300px;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
}


.space{
  margin-top: 170px;
  margin-bottom: 150px;
}
.small_space{
  margin-top: 100px;
  margin-bottom: 50px;
}
.customers-three-blocks .flex {
  background: #fff;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 25px 20px;
  position: relative;
  display: block;
  justify-content: center;
  max-width: 1030px;
  margin: 0 auto;
}
.customers-three-blocks ul {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
}
.customers-three-blocks ul li {
  text-align: left;
  margin: 0 10px;
  max-width: 190px;
  flex-grow: 1;
}
.customers-three-blocks ul .number {
  font-size: 2.7em;
  line-height: 1em;
  display: block;
  font-weight: bold;
  color: #4c4c4c;
  margin-bottom: 10px;
}
.customers-three-blocks ul .title {
  font-size: 1em;
  display: block;
  color: #4c4c4c;
  line-height: 1.2;
}

@media screen and (max-width: 991px) {
  .mission .left,  .mission .right  {
    width:100%
  }
  .mission .wrapper {
    display: inline-block;
  }
  .hero {
    padding-top: 36px;
    padding-right: 6%;
    padding-left: 6%;
  }
  .hero.inner.product {
    padding-top: 140px;
  }
  .container-div.top {
    position:relative;
    padding-left: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .slider-section {
    padding-right: 5%;
    padding-left: 5%;
  }
  .h2.hero-title {
    display: none;
    max-width: 100%;
    min-width: 100%;
    margin-right: 0px;
    white-space: normal;
  }

  .h2.hero-title.mobile {
    display: block;
  }
  .h2.hero-title.inner {
    display: block;
  }
  .subhead.hero-subhead {
    max-width: 700px;
    margin-bottom: 25px;
  }
  .features {
    position:relative;
    margin-top: 100px;
    padding: 80px 5% 70px;
  }
  .line {
    width: 100%;
    height: 1px;
  }
  .feature-box {
    width: 100%;
  }
  .features-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-button {
    width: 70%;
    margin-right: 0px;
    margin-bottom: 27px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 200px;
  }
  .splitdiv.image {
    top: 0px;
    width: 100%;
    padding-top: 65px;
  }
  .splitdiv.left {
    position: static;
    left: 0%;
    display: block;
    width: 100%;
    padding-right: 5%;
  }
  .image {
    float: none;
  }
  .footer {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer.demo {
    padding-right: 5%;
    padding-left: 5%;
  }
  .footer.backing {
    padding-bottom: 20px;
    background-color: #ffa05c;
  }
  .footer.backing.curve-2 {
    padding-top: 61px;
  }
  .footerdiv-top {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 58px 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-button-div {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .line-1.simple.color {
    background-color: #283244;
  }
  .line-3.simple.color {
    background-color: #283244;
  }
  .line-2.simple.color {
    background-color: #283244;
  }
  .div-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .left-text {
    margin-bottom: 33px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .large-cta-text {
    text-align: center;
  }
  .cta-subtext {
    margin-bottom: 0px;
    text-align: center;
  }
  .footer-section {
    padding-right: 5%;
    padding-left: 5%;
  }
  .footer-flex-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav-button-2 {
    display: block;
    margin-right: 74px;
    margin-bottom: 27px;
    margin-left: 74px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 200px;
  }
  .responsive-nav-div {
    display: block;
    width: 50%;
    margin-bottom: 36px;
    padding-left: 74px;
  }
  .title-nav {
    color: #3b4659;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;
  }
  .nav-menu {
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    padding-right: 21px;
    padding-left: 21px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
  }
  .menu-button {
    z-index: 9999;
  }
  .nav-link {
    display: block;
    margin-top: 17px;
    margin-right: 0px;
    margin-bottom: 17px;
    color: #3b4659;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
  }
  .responsive-nav-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .dropdown {
    display: none;
    width: 25%;
    margin-right: auto;
    margin-bottom: 9px;
    margin-left: auto;
    clear: left;
  }
  .button-10 {
    background-color: transparent;
    color: #283244;
  }
  .button-10:hover {
    color: #f58524;
  }
  .button-10.w--open {
    background-color: transparent;
  }
  .nav {
    width: 95vw;
    padding-top: 20px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .split-content {
    width: 100%;
    padding: 45px 0px;
  }
  .split-content.left {
    width: 100%;
    border-bottom: 1px solid rgba(10, 14, 53, 0.11);
    border-right-style: none;
  }
  .testimonial-holder-2 {
    overflow: hidden;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .testimonial-text-2 {
    max-width: 100%;
    font-size: 25px;
  }
  .testimonial-2 {
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .right-arrow-2 {
    display: none;
  }
  .left-arrow-2 {
    display: none;
  }
  .scroll-nav {
    z-index: 9999;
    padding-right: 5%;
    padding-left: 5%;
  }
  .quote-left {
    position: relative;
    left: 0%;
    top: 0%;
    z-index: 1;
    margin: -76px auto 31px;
  }
  .quote-right {
    display: none;
  }
  .demo-icon {
    margin-right: 0px;
    margin-bottom: 22px;
  }
  .feature-section {
    padding: 101px 6% 70px;
  }
  .vertical-tabs {
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .slider-image {
    width: 90%;
    margin-bottom: 0px;
    box-shadow: 0 1px 25px 0 rgba(12, 21, 32, 0.06);
  }
  .tab-pane {
    padding-top: 40px;
    padding-right: 0%;
    padding-left: 0%;
  }
  .tab-menu-2 {
    width: 100%;
    padding-top: 11px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tab {
    width: 48%;
  }
  .tab-content {
    width: 100%;
  }
  .cta-box {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 58px 5% 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 10px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .hero.inner.product {
    padding-top: 120px;
  }
  .slider-section {
    padding-bottom: 68px;
  }
  .h2.hero-title.mobile {
    font-size: 36px;
    line-height: 48px;
  }
  .features {
    padding-top: 90px;
  }
  .features-div {
    margin-top: 20px;
  }
  .nav-button.hero-button {
    width: auto;
    padding-right: 64px;
    padding-left: 64px;
  }
  .footerdiv-top {
    padding-right: 3%;
    padding-left: 3%;
  }
  .large-cta-text {
    text-align: center;
  }
  .cta-subtext {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    line-height: 28px;
    text-align: center;
  }
  .book-demo {
    margin-right: auto;
    margin-left: auto;
  }
  .footer-section {
    padding: 40px 5%;
  }
  /* .footer-flex-container {
    margin-bottom: 15px;
  }*/
  .footer-logo-link {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 19px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .footer-link.smaller {
    margin-right: 38px;
    margin-left: 0px;
  }
  .legal-links {
    margin-top: 12px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-div {
    position:relative;
    width: 100%;
    margin-bottom: 27px;
    margin-right:200px;
  }
  .legal-link-div {
    width: 100%;
    padding-top: 14px;
    text-align: left;
  }
  .responsive-nav-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .nav-menu {
    padding-top: 85px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav-link {
    margin-bottom: 1px;
  }
  .responsive-nav-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .split-content {
    display: block;
    width: 100%;
    margin-right: 0px;
    padding-top: 14px;
    padding-right: 0px;
    padding-bottom: 50px;
  }
  .testimonial-holder-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonial-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slide-nav-2 {
    bottom: -22px;
  }
  .testimonial-slider-div {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-section {
    padding-top: 90px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .slider-image {
    width: 95%;
  }
  .tab-pane {
    padding-bottom: 30px;
  }
  .tab {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .cta-box {
    padding: 32px 3% 17px;
  }
}

@media screen and (max-width: 479px) {
  .hero.inner.product {
    padding-top: 100px;
  }
  .slider-section {
    padding: 60px 0% 44px;
  }
  .h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .h2.hero-title.mobile {
    font-size: 23px;
    line-height: 35px;
  }
  .h2.last {
    margin-right: 5%;
    margin-left: 5%;
  }
  .subhead {
    font-size: 16px;
    line-height: 23px;
  }
  .feature-box {
    padding: 30px;
  }
  .feature-box.new {
    padding-right: 25px;
    padding-left: 25px;
  }
  .features-div {
    margin-top: 0px;
  }
  .nav-button {
    width: 90%;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .nav-button.hero-button {
    width: 100%;
    padding-right: 44px;
    padding-left: 44px;
  }
  .splitdiv.image {
    padding-top: 19px;
  }
  .footer {
    text-align: left;
  }
  .footer.backing.curve-2 {
    padding-top: 81px;
  }
  .footerdiv-top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .h2-inherit {
    font-size: 28px;
    line-height: 32px;
  }
  .large-cta-text {
    font-size: 23px;
  }
  .cta-subtext {
    width: 95%;
    color:#4c4c4c
  }
  .footer-section {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }

  .footer-link.smaller {
    margin-right: 20px;
    margin-bottom: 5px;
  }
  .nav-button-2 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .nav-menu {
    padding-top: 71px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .split-content {
    padding-right: 5%;
    padding-left: 5%;
  }
  .testimonial-holder-2 {
    display: block;
    padding-top: 40px;
    padding-right: 18px;
    padding-left: 18px;
  }
  .testimonial-text-2 {
    font-size: 20px;
    line-height: 30px;
  }
  .testimonial-2 {
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .testimonial-slider-div {
    display: block;
  }
  .left-quote-icon {
    max-width: 20%;
  }
  .quote-left {
    margin-top: 0px;
  }
  .slider-image {
    box-shadow: 0 1px 5px 0 rgba(12, 21, 32, 0.06);
  }
  .tab-pane {
    padding-top: 30px;
  }
  .tab {
    background-color: #fff;
  }
  .cta-box {
    padding-top: 0px;
    padding-bottom: 19px;
  }
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothaProMed.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothaProLig.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothaProReg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothaProBol.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothaProBla.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* start of contact form */

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
}

@media screen and (min-width: 769px), print{
.column.is-10, .column.is-10-tablet {
  flex: none;
  width: 83.33333333%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
}

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

.columns:last-child {
  margin-bottom: -.75rem;
}

.columns.is-centered {
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 769px), print{
.columns:not(.is-desktop) {
  display: flex;
}
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

@media screen and (min-width: 1024px){
.container {
  max-width: 960px;
}
}

@media screen and (min-width: 1216px){
.container {
  max-width: 1152px;
}
}

@media screen and (min-width: 1408px){
.container {
  max-width: 1344px;
}
}

.section {
  padding: 3rem 1.5rem;
  padding-top: 3rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
}

.columns.is-variable {
  --columnGap: 0.75rem;
  margin-left: calc(-1 * var(--columnGap));
  margin-right: calc(-1 * var(--columnGap));
}

.columns.is-variable.is-5 {
  --columnGap: 1.25rem;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 12px 32px rgba(38,50,56,.12);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  transition: all .3s ease-in-out;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
}

@media screen and (min-width: 769px), print{
.column.is-7, .column.is-7-tablet {
  flex: none;
  width: 58.33333333%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
}

.columns.is-variable .column  {
  padding-left: var(--columnGap);
  padding-right: var(--columnGap);
}

input, select, textarea {
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.has-text-centered {
  text-align: center!important;
}

.columns.is-multiline {
  flex-wrap: wrap;
}

@media screen and (min-width: 769px), print{
.column.is-6, .column.is-6-tablet {
  flex: none;
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
}

@media screen and (min-width: 769px), print{
.column.is-full, .column.is-full-tablet {
  flex: none;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
}

.is-flex {
  display: flex!important;
}

.justify-center {
  justify-content: center!important;
}

.is-hidden {
  display: none!important;
}

.radio, .checkbox {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;
}

.select select , .input, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.label {
  color: #4a4a4a;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}


.label:not(:last-child) {
  margin-bottom: .5em;
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: left;
}

.select select , .input {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #4a4a4a;
  border-top-color: rgb(219, 219, 219);
  border-right-color: rgb(219, 219, 219);
  border-bottom-color: rgb(219, 219, 219);
  border-left-color: rgb(219, 219, 219);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input {
  box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
  max-width: 100%;
  width: 100%;
}

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:not(.is-multiple) {
  height: 2.5em;
}

.select.is-fullwidth {
  width: 100%;
}

.select:not(.is-multiple):not(.is-loading):after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .625em;
  margin-top: -.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: .625em;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right-width: 0px;
  border-right-style: initial;
  border-right-color: initial;
  border-top-width: 0px;
  border-top-style: initial;
  border-top-color: initial;
}

.select:not(.is-multiple):not(.is-loading):after {
  border-color: #f58524;
  right: 1.125em;
  z-index: 4;
  border-top-color: #f58524;
  border-right-color: #f58524;
  border-bottom-color: #f58524;
  border-left-color: #f58524;
}

input[type="checkbox"], input[type="radio"] {
  vertical-align: baseline;
}

input , .checkbox input  {
  cursor: pointer;
}
.select select  {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.select select:not([multiple])  {
  padding-right: 2.5em;
}

.select.is-fullwidth select  {
  width: 100%;
}
/* end of contact form */